src/main/resources/META-INF/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.example.org/data"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.example.org/data" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	<xsd:element name="data">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:attribute name="number1" type="xsd:decimal" />
					<xsd:attribute name="number2" type="xsd:decimal" />
					<xsd:attribute name="operator" type="xsd:string" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	</xsd:schema>